.modal-card_backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  //   z-index: 5;
  background: rgba(17, 17, 17, 0.4);
  border-radius: 18px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  opacity: 1;

}

// .modal-card_backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     visibility: visible;
// }

.modal-card {
  position: absolute;
  margin: 0 auto;
//   height: 100%;
  top: 0;
  left: 50%;
  height: 762px;

  transform: translateX(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  max-width: 414px;
  width: 100%;

  padding: 60px 15px;
//   background: white;

  // @media screen and (min-width: $tablet) {
  //     top: 50%;
  //     transform: translate(-50%, -50%) scale(1);
  //     max-width: 712px;
  //     padding: 60px;
  // }
}

.modal-card_img {
  height: 408px;
  max-width: 287px;
  width: 100%;
}

.modal-card_title {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  color: $header-bgc-dark;
  letter-spacing: 0.04em;
}

.modal-card_author {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  font-style: italic;
  color: $secondary-text;
  font-family: $font-main;
}

.modal-card_desq {
  font-family: $font-main;
  font-size: 14px;
  line-height: 1.29;
  color: $header-bgc-dark;
}

// .modal {
//   position: absolute;
//   margin: 0 auto;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   max-width: 414px;
//   width: 100%;

//   .modal-card-desq {
//     @media screen and (min-width: $tablet) {
//       padding-right: 32px;
//       padding-left: 32px;

//       width: $tablet;
//     }
//   }

//   .modal-card-desq {
//     @media screen and (min-width: $desktop) {
//       padding-right: 24px;
//       padding-left: 24px;

//       width: $desktop;
//     }
//   }
// }
