.modal-card_backdrop {
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: 1;
  background-color: rgba(17, 17, 17, 0.4);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

// .modal-card_backdrop {
//   opacity: 0;
//   pointer-events: none;
//   visibility: visible;
// }
.modal-card {
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 40px;
  // transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 50%;
  // transform: translateX(-50%) scale(1);
  background-color: $header-bgc-light;
}

.modal-card_close-icon {
  fill: black;
}

.moda-card-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-card_close {
  background-color: #0000;
  border: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-card_img {
  height: 408px;
  max-width: 287px;
  width: 100%;
  margin-bottom: 14px;
}

.modal-card_title {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  color: $header-bgc-dark;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-card_author {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  font-style: italic;
  color: $secondary-text;
  font-family: $font-main;
  margin-bottom: 18px;
}

.modal-card_desq {
  font-family: $font-main;
  font-size: 14px;
  line-height: 1.29;
  color: $header-bgc-dark;
  width: 287px;
  margin-bottom: 16px;
}

.button-add-shopping-list {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  height: 46px;
  // margin: 0 auto;
  // display: block;
  min-width: 211px;
  padding: 14px 28px;
  background-color: $header-bgc-light;
  cursor: pointer;
}

.btn-modal-card {
  font-family: $font-main;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.shopping-list-links {
  margin-bottom: 40px;
}

// .modal-card_backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
//   visibility: visible;
// }

//   .modal-card-desq {
//     @media screen and (min-width: $tablet) {
//       padding-right: 32px;
//       padding-left: 32px;

//       width: $tablet;
//     }
//   }

//   .modal-card-desq {
//     @media screen and (min-width: $desktop) {
//       padding-right: 24px;
//       padding-left: 24px;

//       width: $desktop;
//     }
//   }
// }

// .img-amazon {
//   mix-blend-mode: luminosity;
//   fill: white;
// }
