$light-theme-bg: #ffffff;
$light-theme-text-color: rgba(17, 17, 17, 0.6);

//dark theme
$dark-theme-bg: #d0d0d0;
$dark-theme-text-color: rgba(255, 255, 255, 0.6);
$dark-theme-start-modal-color: #202024;

//common
$purple-bg: #4f2ee8;
$accent-color: #eac645;
$primary-header-bg: #111111;
$support-ukraine-primary-color: radial-gradient(
  183.6% 183.01% at 59.76% -23.42%,
  #4f2ee8 18.03%,
  #ffffff 100%
);
$title-color: #B4AFAF;

// #B4AFAF
