    <button id="start-button">Start</button>
    <button id="user-auth">USER</button>
    <button id="logaut-auth">LOGAUT</button>

    <div class="backdrop-auth" id="modal-auth">
      <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <div class="tabs"></div>
        <div class="tab-content" id="signin-content">
          <div class="input-content">
            <input
              class="input-auth"
              type="email"
              id="email"
              placeholder="EMAIL"
              required
            />
            <input
              class="input-auth"
              type="password"
              id="password"
              placeholder="PASSWORD"
              required
            />
          </div>
          <button id="signin-button">Sign In</button>
        </div>

        <div class="tab-content" id="signup-content">
          <div class="input-content">
            <input
              class="input-auth"
              type="name"
              id="name"
              placeholder="NAME"
              required
            />
            <input
              class="input-auth"
              type="email"
              id="signup-email"
              placeholder="EMAIL"
              required
            />
            <input
              class="input-auth"
              type="password"
              id="signup-password"
              placeholder="PASSWORD"
              required
            />
          </div>
          <button id="signup-button">Sign Up</button>
        </div>
        <div class="tab-list">
        <span class="tab" id="signin-tab">Sign In</span>
        <span class="tab" id="signup-tab">Sign Up</span>
      </div>
      </div>
    </div>