<header class="header-conteiner">
  <div class="'conteiner">
    <div class="header-wrap">
      <svg width="24" height="24">
        <use href="/src/images/sprite.svg#icon-logo"></use>
      </svg>
      <p class="logo-name">Bookshelf</p>
      <p class="home active-page">HOME</p>
      <p class="shopping-list">SHOPPING LIST</p>

      <label class="switch">
        <input type="checkbox" name="check" value="yes" />
        <span class="slider round"></span>
      </label>
      <button class="burger js-open-menu" type="button" aria-expanded="false">
        <svg width="28" height="28">
          <use href="/src/images/sprite.svg#icon-close"></use>
          <use href="/src/images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
