<header class="header-conteiner">
  <div class="conteiner">
    <div class="header-wrap">
      <svg width="24" height="24">
        <use href="/src/images/sprite.svg#icon-logo"></use>
      </svg>
      <a class="link logo-name" href="/src/index.html"
        >Bookshelf</a
      >
      <nav class="navigation">
        <a class="link link-active nav-home-page" href="/src/index.html"
          >HOME</a
        >
        <a class="link nav-shopping-page" href="/src/shopping-list.html">SHOPPING LIST
        <svg class="nav-shopping-page__icon"><use href="/src/images/sprite.svg#icon-uil_cart"></svg></a>
      </nav>
      <label class="switch">
        <input class="js-color-switcher"type="checkbox" name="check" value="yes"/>
        <span class="slider round"></span>
      </label>
      <button class="burger js-open-menu" type="button" aria-expanded="false">
        <svg width="28" height="28" aria-label="Перемикач мобільного меню">
          <use href="/src/images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="login-thumb">

        <!-- <svg width="37" heigth="37">
            <use href="/src/images/sprite.svg#icon-user"></use></svg> -->
        <button class="login-thumb__btn" type="button">Sign up</button>

        <svg width="20" heigth="20">
            <use href="/src/images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
</header>

<!-- <include src="./modal-registration.html"></include> -->
<script src="/src/js/header.js" type="module"></script>
<script src="/src/js/open-menu.js" type="module"></script>
