<div class="modal-card_backdrop" id="data-modal-card">
    <div class="modal-card">
        <button type="button" name="data-modal-card-open">open</button>
        <button class="modal-card_close" type="button">
            <svg class="modal-card_close-icon" height="12" width="12">
                <use href="./images/sprite.svg#icon-x-close"></use>
            </svg>
        </button>
        <script type="module" src="./js/modal-card.js"></script>
    </div>
</div>


<!-- <div class="modal-card_backdropvis-hidden" id="data-modal-card"> -->