<div class="backdrop" id="data-modal-card">
    <button data-modal-card-open type="button" class="book-by-ID">
        book by id
    </button>
    <div class="modal-card">
        <button class="modal-card_close" type="button">
            <svg class="modal-card_icon-close" height="24" width="24">
                <!-- <use href=""></use> -->
            </svg>
        </button>
        <form action="" class="modal-card-form">
            <h3 class="modal-card_title"></h3>
            <p class="modal-card_subtitle"></p>
            <p class="modal-card_desq"></p>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </form>
        <button class="modal-card_close" type="button">Add to shopping list</button>

    </div>
</div>