<section class="support">
  <div class="support-container">
    <div class="support-header">
      <h2 class="support-header__title">Support Ukraine</h2>
      <img
        class="support-header__trident"
        src="/src/images/trident.png"
        alt="Emblem of Ukraine"
      />
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <!-- <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div> -->
      </div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

