.home__page {
  display: flex;
  padding-top: 40px;
}

.categories {
  width: 356px;
  height: 472px;
  overflow-y: scroll;
}

.list_name {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
  letter-spacing: -0.02em;
  color: $categories-text-light;
}

.list_name:hover {
  color: $accent-text-light;
}

.list_name:focus {
  color: $accent-text-light;
}

/* .text {} */
.conteiner__books {
  padding-left: 40px;
}

.name__categore {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.04em;

  color: primary-text-light;
}

.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  flex-wrap: wrap;
  // padding: 15px 15px;
  gap: 15px;
  // margin-left: auto;
  // margin-right: auto;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 180px;
  max-height: 306px;
}

.book-card__img-box {
  width: 100%;
  height: 256px;
}

.book-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.info {
  font-size: 14px;
  min-width: 100%;
  height: 50px;
  // border: 1px solid #eeeeee; Віталій закоментував не бачив на макеті цього бордеру,заважає
  border-top: none;
}

.info-title__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;

  color: $primary-text-light;
}

.info-author__item {
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;

  color: $secondary-text;
}
.categories .list_name.selected {
  text-transform: uppercase;
  color: #4f2ee8;
  font-weight: 700;
}
