.dark body {
  background-color: $primary-bgc-dark;
  color: $header-bgc-light;
}
.dark .header-conteiner {
  background-color: $header-bgc-dark;
  border: 1.5px solid $header-bgc-light;
}

.dark .logo-name {
  color: $primary-text-dark;
}

.dark .nav-shopping-page__icon {
  @media screen and (min-width: $tablet) {
    fill: $primary-text-dark;
  }
}
.dark .nav-shopping-page {
  color: $primary-text-dark;
}
