.link {
  text-decoration: none;
  color: $primary-text-light;
  display: block;
  cursor: pointer;
  &:hover,
  &:focus &:active {
    color: $accent-text-light;
  }
}
.link-active {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  display: block;
  justify-content: center;
  width: 100%;
  height: 34px;
  padding: 8px 16px;
  background: $accent-text-dark;
  border-radius: 36px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
  display: block;
  cursor: pointer;
}
.call-to-registration-btn {
  display: none;
}
.header {
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  padding: 20px 20px;
  position: relative;
}
.menu-conteiner-account {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 14px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: ‘’;
  height: 19px;
  width: 19px;
  left: 1px;
  bottom: 0.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
input:checked + .slider:before {
  transform: translateX(20px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.logo-name {
  margin-right: 144px;
}
.header-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.nav-home-page {
  display: none;
  color: $primary-text-light;
}
.nav-shopping-page {
  display: none;
  width: 100%;
}
.navigation {
  align-items: center;
  display: flex;
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-shopping-page__icon {
  display: none;
  height: 20px;
  width: 20px;
}
.burger {
  background-color: transparent;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
}
.icon-close-menu {
  right: -10px;
  bottom: 3px;
  position: absolute;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    fill: $accent-text-light;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
// @media screen and (max-width: 767px) {
//   .menu-conteiner-account {
//     display: none;
//     position: fixed;
//     top: 67px;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//     overflow: hidden;
//     background-color: $accent-text-light;
//     padding: 20px 20px;
//     text-align: center;
//     position: fixed;
//     &.is-open {
//       display: block;
//     }
//   }
// }
.call-to-registration-btn {
  display: none;
}
@media screen and (min-width: $tablet) {
  .icon-close-menu {
    display: none;
  }
  .burger {
    display: none;
  }
  .header {
    padding: 14px 32px;
  }
  .nav-list {
    gap: 16px;
  }
  .nav-list__item {
    margin-right: 24px;
  }
  .nav-shopping-page__icon {
    display: block;
    cursor: pointer;
    &:hover,
    &:focus {
      fill: $accent-text-light;
    }
  }
  .navigation {
    margin-right: auto;
  }
  .nav-home-page {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.27;
    letter-spacing: -0.04em;
  }
  .logo-name {
    margin-right: 40px;
  }

// }
// .link {
//   text-decoration: none;
//   color: $primary-text-light;
//   cursor: pointer;
//   &:hover,
//   &:focus &:active {
//     color: $accent-text-light ;

  .switch {
    margin-right: 24px;

  }
  .nav-shopping-page {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .call-to-registration-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 14px;
    cursor: pointer;
    width: 184px;
    height: 45px;
    background-color: $button-bgc;
    border-radius: 18px;
    color: $primary-text-dark;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    border: none;
    &:hover,
    &:focus {
      border: 1.5px solid $primary-bgc-light;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

@media screen and (min-width: $desktop) {
  .header {

    padding: 14px 24px;
  }
  .navigation {
    margin-right: auto; //746px is-open conteiner
  }
  .nav-list {
    gap: 24px;
  }
  .logo-name {
    margin-right: 76px;
  }
}
