.btn {
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: $button-bgc;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-popup;
  -webkit-transition: opacity 250ms linear, visibility 300ms linear;
  transition: opacity 250ms linear, visibility 300ms linear;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-registration {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  border-radius: 4px;
  background: $primary-bgc-dark;
  border: 2px solid $header-bgc-dark;
  border-radius: 18px;
}
.modal-registration-btn-close {
  position: absolute;
  left: 88%;
  bottom: 88%;
}

.modal-input-group__input {
  background: none;
  border-radius: 40px;
  border: 2px solid $primary-bgc-light;
  gap: 10px;
}

.modal-registration-btn-close__icon {
  width: 28px;
  height: 28px;
}

.modal-registration-btn-submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;

  letter-spacing: -0.01em;
  text-transform: uppercase;
  border-radius: 40px;

  color: $primary-bgc-dark;
}

.modal-input-group__label {
  color: $primary-bgc-light;
  font-weight: 700;
  position: absolute;
  //   top: 16%;
  //   left: 16%;
}

.modal-registration-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: $categories-text-light;
}

.modal-registration-list__item {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: $primary-bgc-light;
}

.modal-registration-list__link {
  color: $primary-bgc-light;
}

@media screen and (min-width: $mobile) {
  .modal-registration {
    width: 335px;
    height: 384px;
    padding: 40px 20px;
  }
  .modal-input-group__input {
    width: 294px;
    height: 50px;
  }
}

@media screen and (min-width: $tablet) {
  .modal-registration {
    width: 579px;
    height: 516px;
    padding: 80px 40px 40px 40px;
  }
  .modal-input-group__input {
    width: 499px;
    height: 64px;
  }
  .modal-registration-btn-submit {
    width: 499px;
    height: 64px;
  }
}

@media screen and (min-width: $desktop) {
}

// $mobile: 375px;
// $tablet: 768px;
// $desktop: 1440px;
